@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Honk&display=swap');

/*!--- RESET ---*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}



/*!----------- HEADER -------------- */

header {
    background-color: #ffffff;
    padding: 5px;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header img {
    height: 100px;
    width: 350px;
}


.nav-link {

    color: #B27088 !important;
    margin-right: 20px !important;
    font-size: 20px !important;
}

/*! ------------ MAIN ------------------*/

/*?----- Hero ----*/
.hero {
    width: 100%;
    height: calc(100vh - 100px);
    text-align: center;
    background-image: url(../img/hero_web_op_60.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.hero h2 {
    font-family: "Dancing Script", sans-serif;
    font-weight: 700;
    font-size: 90px;
    color: #373535;
    text-shadow: 4px 4px 2px #B27088;
}

.hero a {
    background-color: #b27088;
    font-weight: 500;
    color: #fef7ef;
    text-decoration: none;
    padding: 20px;
}

.hero img {
    width: 100px;
    height: 72px;
    margin-bottom: 30px;
}


.hero p {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 50px;
    font-size: large;
    font-weight: 700;
    color: #373535;
    width: 700px;
}

/*?----- Hero END ----*/

/*?----- Bienvenidos ----*/
.bienvenidos {
    text-align: center;
    background-color: #d8a16c;
    padding: 20px;
}

.bienvenidos div {
    text-align: center;
    display: inline-block;
    width: 600px;    
    vertical-align: middle;
    color: #fef7ef;
    font-family: "Montserrat", sans-serif;
}

.bienvenidos div img {
    width: 300px;
    width: 200px;
}

.bienvenidos-texto ul li {
    list-style-type: '👉';
    padding-inline-start: 1ch;
    text-align: left;
    font-family: "Montserrat", sans-serif;
}

/*?----- Bienvenidos END ----*/

/*?----- Preferidos  ----*/
.preferidos {
    text-align: center;
    background-color: #d0ae99;
    padding: 15px;


}

.preferidos h2 {
    font-family: "Montserrat", sans-serif;
    color: #fef7ef;
}

.preferidos-cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.preferidos-cards h2 {
    padding: 20px;
    color: #fef7ef;

}

.preferidos-cards div {
    width: 250px;
    height: 610px;
    margin: 20px;
    text-align: center;
    display: inline-block;
    background-color: #fef7ef;

}

.preferidos-cards div h3 {
    margin-bottom: 20px;
    font-size: 20px;
    padding: 10px;
}

.preferidos-cards div img {
    width: 100%;
}

.preferidos-cards div a {
    text-decoration: none;
    color: #fef7ef;
    font-size: 15px;
    background-color: #b27088;
    padding: 10px;
    margin-top: 10px;

}

.preferidos-cards div p {
    color: #B27088;
    margin-bottom: 25px;

}

/*? ------ Preferidos END --------*/


/*? ------ Nosotros --------*/

.nosotros-hero {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url(../img/nosotros.png);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.nosotros-hero h1 {
    font-family: "Dancing Script", sans-serif;
    font-weight: 700;
    font-size: 90px;
    color: #373535;
    text-shadow: 4px 4px 2px #C2D6D7;
    /*color: #B27088;*/
}

.nosotros-div {
    text-align: center;
    background-color: #D0AE99;
    padding: 20px;
}

.nosotros-div ul li {
    list-style-type: '👉';
    padding-inline-start: 1ch;
    text-align: left;
}

.nosotros-div div {
    text-align: center;
    display: inline-block;
    width: 600px;
    margin-bottom: 50px;
    vertical-align: middle;
    color: #fef7ef;
    font-family: "Montserrat", sans-serif;

}

.nosotros-div img {
    width: 300px;
    width: 200px;
}
/*? ------ Nosotros END --------*/

/* --------- Productos --------*/

.productos-hero {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url(../img/productos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.productos-hero h1 {
    font-family: "Dancing Script", sans-serif;
    font-weight: 700;
    font-size: 90px;
    color: #373535;
    text-shadow: 4px 4px 2px #D0AE99;
}


.productos-div {
    padding: 20px;
    color: #fef7ef;
    background-color: #D8A16C;
    text-align: center;
    font-family: "Montserrat", sans-serif;

}

/* --------- Productos END --------*/

/* --------- Pedidos --------*/
.pedidos-hero {
    width: 100%;
    height: calc(100vh - 100px);
    text-align: center;
    background-image: url(../img/pedidos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pedidos-hero h1 {
    font-family: "Dancing Script", sans-serif;
    font-weight: 700;
    font-size: 90px;
    color: #373535;
    text-shadow: 4px 4px 2px #d8a16c;
}


.pedidos-div {
    text-align: center;
    background-color: #d0ae99;
}

.pedidos-div img {

    padding: 20px;
    ;
}

/* --------- Pedidos END --------*/

/* --------- Contacto --------*/
.contacto-hero {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url(../img/contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacto-hero h1 {
    font-family: "Dancing Script", sans-serif;
    font-weight: 700;
    font-size: 90px;
    color: #373535;
    text-shadow: 4px 4px 2px #d8a16c;
}


.contacto-div {
    display: flex;
    background-color: #d0ae99;
    padding: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;


}

.contacto-div .frame-formulario {
    border-color: #373535;
    border-width: 2px;
    border-style: solid
}

.contacto-div h2 {
    font-family: "Montserrat", sans-serif;
    color: #fef7ef;
}

.contacto-div h3 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    color: #fef7ef;
}

.contacto-div div {
    margin: 20px;

}

.contacto-div form {
    width: 350px;

}

/* --------- Contacto END --------*/



/*?----- Whatsapp  ----*/
.whatsapp {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.whatsapp img {
    width: 70;
    height: 70px;
}

/*?----- Whatsapp END ----*/

/** ------- Estilos para elementos BOOTSTRAP -------*/

.boton-bt {
    background-color: #b27088 !important;
    color: #fef7ef !important;
}

.texto-centrado {
    text-align: center;
}

.imagen-modal {
    width: 50%;
    height: auto;
}


/** ------- END Estilos para elementos BOOTSTRAP -------*/


/*! ------------ FOOTER -----------------*/

footer {
    background-color: #b7cfcf;
}

.footer-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
        "footer footer"
        "copyright copyright"
    ;

}

.footer-img {
    display: flex;
    justify-content: center;
    grid-area: "footer";
    width: 100%;
    height: 100%;
}

.footer-img img {
    width: 250px;
    height: 250px;
}


.footer-copyright {
    grid-area: "copyright";
    display: flex;
    height: 100%;
    align-items: end;
    padding: 20px;
    grid-column: span 2;
    justify-content: center;
}


.footer-redes {
    grid-area: "footer";
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.footer-redes img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
}



/* COMPONENTES */

.boton-pequeño {
    text-decoration: none;
    color: #fef7ef;
    font-size: 15px;
    background-color: #b27088;
    padding: 10px;
    margin-top: 10px;

}

/*? ****** SECCIÓN DE MEDIA QUERYS *************/

@media screen and (max-width:700px) {

    .hero p {
        margin-bottom: 50px;
        font-size: 15px;
        width: 400px;
    }

    .hero h2 {
        font-weight: 600;
        font-size: 70px;
    }

    .bienvenidos div {
        width: 400px;

    }

}

@media screen and (max-width:515px) {

    .footer-area {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        grid-template-areas:
            "footer footer";

    }

    .whatsapp {        
        bottom: 20px;
        right: 20px;
    }

    .whatsapp img {
        width: 50;
        height: 50px;
    }

}

@media screen and (max-width:430px) {

    header {
        flex-direction: column;
    }

    header img {
        height: 50px;
        width: 160px;
    }

    .hero p {
        margin-bottom: 30px;
        font-size: 12px;
        width: 300px;
    }

    .bienvenidos div {
        width: 300px;
    }

    .whatsapp {        
        bottom: 10px;
        right: 10px;
    }

    .whatsapp img {
        width: 40;
        height: 40px;
    }

    .footer-area {

        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "footer"
            "footer"
            "copyright"
        ;
    }

    .footer-copyright {
        grid-column: span 1;
        color: #fef7ef;
    }

    .productos-hero h1 {
        font-size: 70px;
        text-align: center;
    }




}