header {
    background-color: #ffffff;
    padding: 5px;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img{
        height: 100px;
        width: 350px;
    }

}



