$color-primario: #B27088;
$color-secundario: #b7cfcf;
$color-terciario: #D8A16C;
$colores-auxiliares: #FAD9D1,#D0AE99;
$colores-textos:('negro':#373535,'blanco':#fef7ef);

$imagenes-hero:('index':'../img/hero_web_op_60.jpg',
'nosotros':'../img/nosotros.png',
'productos':'../img/productos.jpg',
'pedidos':'../img/pedidos.jpg',
'contacto':'../img/contacto.jpg');

