// npm run watch-css

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Honk&display=swap');

/*!--- RESET ---*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

/** Estilos propios **/

.boton-pequeño {
    text-decoration: none;
    color: #fef7ef;
    font-size: 15px;
    background-color: #b27088;
    padding: 10px;
    margin-top: 10px;

}

/** Botón Flotante WS**/
.whatsapp {
    position: fixed;
    bottom: 50px;
    right: 50px;
    img{
        width: 70;
        height: 70px;
    }
}


/** ------- Estilos para elementos BOOTSTRAP -------*/

.boton-bt {
    background-color: #b27088 !important;
    color: #fef7ef !important;
}

.texto-centrado {
    text-align: center;
}

.imagen-modal {
    width: 50%;
    height: auto;
}

.nav-link {

    color: #B27088 !important;
    margin-right: 20px !important;
    font-size: 20px !important;
}


/** ------- END Estilos para elementos BOOTSTRAP -------*/